<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li >
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span>SuperWorkouters
                    </a>
                </li>
            </ul>
        </div>
        <app-login>this is for login </app-login>
        <br />
        <home-list>this is going to be the home list</home-list>
    </div>
    
    
</div>
